{% extends 'base.html' %}

{% block title %}
    アンケート作成ページ
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h3>アンケートの概要</h3>
            <br>
            {{ survey_form.title.label }}
            {{ survey_form.title }}
            <br>
            {{ survey_form.description.label }}
            {{ survey_form.description }}
            <br><hr><br>

            <h4>アンケートの詳細</h4>
            {% for question_forms, choice_form_1, choice_form_2, choice_form_3 in forms %}
                <ul>
                    <li>
                        {{ forloop.counter }}つ目の質問
                        <br>
                        {{ question_forms.text.label }}
                        {{ question_forms.text }}
                        <br>

                        {{ question_forms.question_type.label }}
                        {{ question_forms.question_type }}

                        <div class="choices-container" id="choices-container-{{ forloop.counter }}" style="display: none;">
                            {{ choice_form_1 }}
                            <br>
                            {{ choice_form_2 }}
                            <br>
                            {{ choice_form_3 }}
                            <br>
                        </div>

                        <br>
                        {{ question_forms.is_required.label }}
                        {{ question_forms.is_required }}
                    </li>
                </ul>
                <br>
            {% endfor %}
            <button type="submit" class="btn btn-primary">作成</button>
        </form>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Djangoが生成する各質問タイプセレクトボックスに対して処理を行う
        const questionTypeSelects = document.querySelectorAll('[id^=id_][id*="-question_type"]');    // IDが'id_'で始まり、'_question_type'で終わる全ての要素を取得

        questionTypeSelects.forEach(function(select, index) {
            const choicesContainer = document.getElementById(`choices-container-${index + 1}`);

            function updateVisibility() {
                const selectedType = select.value;
                if (selectedType === 'SC' || selectedType === 'MC') {
                    choicesContainer.style.display = 'block';
                } else {
                    choicesContainer.style.display = 'none';
                }
            }

            // 初期表示時にも正しい表示状態に更新
            updateVisibility();

            // 質問タイプが変更されたときのイベントハンドラをセットアップ
            select.addEventListener('change', updateVisibility);
        });
    });
</script>

{% endblock %}