{% extends 'base.html' %}

{% block title %}
    アンケート回答ページ
{% endblock %}

{% block content %}
    <div class="container">
        <h3>{{ survey.title }}</h3>
        <h4>{{ survey.description }}</h4>
        <hr>
        <form method="POST">
            {% csrf_token %}
            {% for question, answer_form, choice in answer_forms %}
                {{ question.text }}
                {% if question.question_type == 'TX' %}
                    {{ answer_form.text }}
                {% elif question.question_type == 'SC' %}
                    {{ answer_form.choice }}
                {% elif question.question_type == 'MC' %}
                    {{ answer_form.multiple_choices }}
                {% elif question.question_type == 'RS' %}
                    {{ answer_form.rating_score }}
                {% endif %}
            {% endfor %}
            <button class="btn btn-primary">送信</button>
        </form>
    </div>
{% endblock %}
